@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
    /* max-height: 35rem; */
    width: 100%;
    margin-bottom: 1rem;
}
.description{
    min-height: 150px;
    padding: 25px 0;
}